$mainBackgroundColor: hsl(233, 47%, 7%);
$cardBackgroundColor: hsl(244, 38%, 16%);
$accentColor: hsl(277, 64%, 61%);
$fontColor: hsl(0, 0%, 100%);
$paragraphColor: hsla(0, 0%, 100%, 0.75);
$statsTextsColor: hsla(0, 0%, 100%, 0.6);
$cardBoxShadow: 0px 6px 6px -2px hsl(244, 43%, 13%);
