@use '../utils' as *;

.card {
  background-color: $cardBackgroundColor;
  max-width: 23.4375rem;
  border-radius: 0.625rem ;
  text-align: center;
  box-shadow: $cardBoxShadow;

  img {
    width: 100%;
    border-radius: 0.625rem 0.625rem 0 0;
  }
  
}

.card__text {
  padding: 2rem;

  strong {
    color: $accentColor;
  }

  h1 {
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    color: $paragraphColor;
    margin-bottom: 2.5rem;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    section {
      display: grid;
      gap: 0.5rem;
    }
  }
  
  span {
    text-transform: uppercase;
    color: $statsTextsColor;
    font-family: 'Lexend Deca', sans-serif;
  }

}